
        {% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/aktbg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>My name is Arnab Kumar Tripathy. I am born and brought up in Bramhapur,the heart of southern Odisha. Bramhapur is named after the river 'Bramhaputra' and is historically known for production of silk, hence being known as the 'silk city'. besides silk, it is known for spices, pickles, papads (thin Indian spicy wafers fried in sesame seeds) and onion fritters. I finished my primary and secondary education in my hometown and made some cool friends</p>
                        <p>I finished my graduation in Odisha University of Technology and Research, Bhubaneswar from 2019-23 and majored in Information Technology. I made some cool friends in college too. I currently work as a senior software developer in Larsen and Toubro</p>
                        <p> I am a full-stack developer, specialising in python frameworks such as flask and django. On client-side programming frameworks I am well-versed in React and angular. Besides these tech-stacks, I have worked on cutting-edge manufacturing technologies like infor LN in ERP (Enterprise resource planning) software development .</p>
                    </div>
                </div>
            </div>
        </main>
        {% include "footer.html" %}
        <!-- Footer-->
